.modal_body {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.text_error {
    color: red;
}