/* Stories.css */

.travel-stories {
    margin-bottom: 50px;
}

.travel-stories h2 {
    text-align: center;
    margin: 0;
    font-size: 2.8em;
    color: #ADB2D4;
}

.story-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 30px;
}

.story {
    border: 1px solid #b6b6b6;
    border-radius: 8px;
    overflow: hidden;
    position: relative;
}

.story img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.story h3 {
    padding: 0 20px;
    margin: 0;
}

.story p {
    padding: 0 20px 0 20px;
}

.read-story {
    display: inline-block;
    background-color: #D5E5D5;
    color: #333;
    padding: 10px 20px;
    text-decoration: none;
    margin: 20px;
    border-radius: 5px;
}

.read-story:hover {
    background-color: #C2D5C2;
}

/* Responsive styles for Stories component */

@media (max-width: 500px) {
    .travel-stories {
        padding: 0 10px;
    }

    .story-grid {
        grid-template-columns: 1fr;
    }

    .story {
        margin-bottom: 20px;
    }

    .story img {
        height: 200px;
    }
}

@media (max-width: 375px) {
    .travel-stories h2 {
        font-size: 2.5em;
    }
}

.delete-story {
    background-color: #FF4D4D;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s ease;
    position: absolute;
    top: 10px;
    left: 10px;
    cursor: pointer;
}

.delete-story:hover {
    background-color: #FF1A1A;
}