/* Explore.css */

.explore-destinations {
    margin-bottom: 50px;
}

.explore-destinations h2 {
    text-align: center;
    margin: 10px;
    font-size: 2.8em;
    color: #ADB2D4;
}

.destination-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 30px;
}

.destination {
    height: 400px;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    border-radius: 10px;
    overflow: hidden;
}

.destination h3 {
    font-size: 2em;
    margin-bottom: 10px;
}

.destination p {
    font-size: 1.1em;
    margin-bottom: 20px;
}

.view-destination {
    background-color: #D5E5D5;
    color: #333;
    padding: 12px 25px;
    text-decoration: none;
    border-radius: 25px;
    font-weight: 600;
    transition: background-color 0.3s ease;
}

.view-destination:hover {
    background-color: #C2D5C2;
}

/* Responsive styles for Explore component */

@media (max-width: 768px) {
    .explore-destinations .destination-grid {
        padding: 0;
    }

    .destination {
        padding: 10px;
    }

    .destination h3 {
        font-size: 1.5em;
    }

    .destination p {
        font-size: 0.9em;
    }
}

@media (max-width: 375px) {
    .explore-destinations .destination-grid {
        grid-template-columns: 1fr;
    }
}

.icons {
    width: 40px;
    height: 40px
}